<form class="form" [formGroup]="authorizationForm" (ngSubmit)="onSubmitAuthorizationForm()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput formControlName="email"
      [errorStateMatcher]="matcher"
      placeholder="Введите email"
    >
    @if (emailControl.hasError('email') && !emailControl.hasError('required')) {
      <mat-error>Невалидный email</mat-error>
    }
    @if (emailControl.hasError('required')) {
      <mat-error>Обязательное поле</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide() ? 'password' : 'text'"
      [errorStateMatcher]="matcher"
      placeholder="Введите пароль"
    >
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (passwordControl.hasError('required')) {
      <mat-error>Обязательное поле</mat-error>
    }
  </mat-form-field>
  <div class="button-block">
    <button
      type="button"
      mat-button (click)="goToRegisterPage()"
    >Зарегистрироваться</button>
    <button
      type="submit"
      class="save-button"
      mat-flat-button
      color="primary"
      [disabled]="authorizationForm.invalid"
    >Войти</button>
  </div>
</form>
